* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #d6d7db;
}
.link{
  text-decoration: none;
}