.favorites {
  position: absolute;
  .favorites-container {
    display: flex;
    padding: 30px;
    width: 100vw;
    @media screen and (max-width: 600px) {
      flex-flow: column;
      align-items: center;
    }
  }
}
