.home {
  width: 100vw;
  height: 100vh;
  position: absolute;
  .home-container {
    width: 100%;
    height: calc(100% - 70px);
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    height: auto;
  }
}
