.searchbar {
  position: relative;
  min-width: 300px;
  width: 30%;
  height: 45px;
  z-index: 20;
  .searchbar-wrapper {
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: white;
    z-index: 10;
    .input {
      flex: 3;
      height: 100%;
      border: none;
      margin-left: 10px;
      font-size: 15px;
    }
    .btn-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: none;
      .search-btn {
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.664);
        border: none;
        cursor: pointer;
      }
    }
  }
  .autocomplete {
    position: absolute;
    background-color: rgb(232, 248, 255);
    border-radius: 0 0 25px 25px;
    width: 100%;
    top: 25px;
    ul {
      margin-top: 20px;
      padding: 5px;
      list-style: none;
      .autocomplete-city {
        text-decoration: none;
        cursor: pointer;
        margin: 5px;
        &:hover {
          background-color: ghostwhite;
        }
      }
    }
  }
}
